@using System.Security.Claims
@{
    ViewData["Title"] = "Update";
    Layout = "_LayoutAdmin";
    var roleName = User.FindFirst(ClaimTypes.Role)?.Value;
}

@model NewsTypeDTO
<div class="container-create">
    <h2>Sửa Loại Tin Tức Mới</h2>

    <form asp-action="Update" asp-controller="NewsType" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div class="flex-container">
            <div class="column-left">
                <div class="form-group">
                    <label asp-for="Title" for="Title">Tiêu đề bài viết</label>
                    <input asp-for="Title" type="text" id="Title" name="Title" required value="@Model?.Title">
                </div>

                <div class="form-group">
                    <label asp-for="ParentId" class="control-label">Danh mục cha</label>
                    <select asp-for="ParentId" class="form-control">
                        <option value="0">Không có</option>
                       @foreach (var newtype in ViewBag.DsNewsType)
                       {
                            if (newtype.Id == Model!.Id)
                            {
                                <option value="@newtype.Id" hidden>@newtype.Title</option>
                            }

                            else
                            {
                                <option value="@newtype.Id">@newtype.Title</option>
                            }
                           
                       }
                    </select>
                </div>

                @if (roleName == "ADM")
                {
                    <div class="form-group">
                        <label asp-for="HomePage" class="control-label">Xuất hiện ở trang chủ</label>
                        <select asp-for="HomePage" class="form-control">
                            <option value="1">Có</option>
                            <option value="0">Không</option>
                        </select>
                    </div>
                }
            </div>

            <div class="column-right">
                <input type="file" id="imageFile" name="imageFile" asp-for="ImageId" data-plugins="dropify" accept="image/jpeg, image/png" onchange="previewImage(event)" title="Chọn hình đại diện">
                <input type="hidden" asp-for="ImageId" />
                <input type="hidden" name="CurrentImageUrl" value="@Model.ImageUrl" />

                <img id="imagePreview" src="~/images/news/@Model.ImageUrl" alt="Ảnh hiện tại" style="max-width: 100%; max-height: 200px; height: 100%; background-size: cover; margin-top: 5px; display: block">
            </div>
        </div>


        <button type="submit" class="btn-submit">Thay đổi</button>
    </form>

    <div class="back-button">
        <a asp-action="P_List">Quay lại danh sách bài viết</a>
    </div>
</div>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        var imagePreview = document.getElementById('imagePreview');

        reader.onload = function () {
            imagePreview.src = reader.result;
        };

        // Nếu người dùng chọn file mới
        if (event.target.files.length > 0) {
            reader.readAsDataURL(event.target.files[0]);
        }
    }
</script>